<h1><span class="badge bg-secondary">Akali</span></h1>

<div class="card">
    <img src="../../../assets/runa-akali-1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Akali Runa 1</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/runa-akali-2.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Akali Runa 2</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/runa-akali-3.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Akali Runa 3</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/build-akali.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Akali Builds</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/akali-skill.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Akali Skills</h5>
    </div>
</div>