<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Assassinos</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/akali.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Akali</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAkali()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/fizz.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Fizz</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToFizz()">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/kassadin.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Kassadin</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKassadin()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/katarina.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Katarina</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKatarina()">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/kha zix.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Kha'zix</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKhazix()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/leblanc.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Leblanc</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToLeblanc()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/nidalee.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Nidalee</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToNidalee()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/rengar.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Rengar</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToRengar()">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/shaco.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Shaco</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToShaco()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/talon.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Talon</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTalon()">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/zed.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Zed</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToZed()">Mais Informações</button>
        </div>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Duelistas</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/ekko.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Ekko</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToEkko()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/fiora.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Fiora</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToFiora()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/jax.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Jax</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToJax()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/master yi.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Master Yi</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMasteryi()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/riven.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Riven</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToRiven()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/tryndamere.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Tryndamere</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTryndamere()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/yasuo.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Yasuo</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToYasuo()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/yone.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Yone</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToYone()">Mais Informações</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Magos Obliteradores</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/ahri.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Ahri</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAhri()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/annie.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Annie</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAnnie()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/brand.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Brand</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToBrand()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/lissandra.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Lissandra</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToLissandra()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/lux.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Lux</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToLux()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/syndra.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Syndra</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSyndra()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/veigar.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Veigar</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToVeigar()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/viktor.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Viktor</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToViktor()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/tf.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Twisted Fate</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTf()">Mais Informações</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Magos de Batalha</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/aurelion sol.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Aurelion Sol</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAurelionsol()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/cassiopeia.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Cassiopeia</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToCassiopeia()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/gangplank.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Gangplank</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToGangplank()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/karthus.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Karthus</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKarthus()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/malzahar.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Malzahar</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMalzahar()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/rumble.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Rumble</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToRumble()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/ryze.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Ryze</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToRyze()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/swain.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Swain</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSwain()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/vladimir.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Vladimir</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToVladimir()">Mais Informações</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Magos de Artilharia</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/jayce.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Jayce</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToJayce()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/varus.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Varus</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToVarus()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/vel'koz.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Vel'koz</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToVelkoz()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/xerath.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Xerath</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToXerath()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/ziggs.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Ziggs</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToZiggs()">Mais Informações</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Lutadores Colossos</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/nasus.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Nasus</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToNasus()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Darius.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Darius</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToDarius()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/mordekaiser.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Mordekaiser</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMordekaiser()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/illaoi.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Illaoi</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToIllaoi()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/garen.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Garen</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToGaren()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/shyvana.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Shyvana</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToShyvana()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/udyr.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Udyr</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToUdyr()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/dr mundo.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Dr. Mundo</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToDrmundo()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/volibear.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Volibear</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToVolibear()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/yorick.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Yorick</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToYorick()">Mais Informações</button>
        </div>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Lutadores de Investida</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/vi.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Vi</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToVi()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/xin zhao.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Xin Zhao</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToXinzhao()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/nocturne.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Nocturne</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToNocturne()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/phantheon.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Pantheon</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToPantheon()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/jarvan iv.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Jarvan</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToJarvan()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/wukong.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Wukong</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToWukong()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/warwick.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Warwick</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToWarwick()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/renekton.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Renekton</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToRenekton()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/elise.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Elise</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToElise()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/hecarim.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Hecarim</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToHecarim()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/lee sin.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Lee Sin</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToLeesin()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/irelia.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Irelia</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToIrelia()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/aatrox.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Aatrox</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAatrox()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/evelynn.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Evelynn</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToEvelynn()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/diana.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Diana</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToDiana()">Mais Informações</button>
        </div>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Atirador</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/vayne.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Vayne</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToVayne()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/caitlyn.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Caitlyn</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToCaitlyn()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/ashe.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Ashe</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAshe()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/corki.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Corki</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToCorki()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/draven.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Draven</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToDraven()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/jinx.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Jinx</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToJinx()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/kalista.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Kalista</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKalista()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/kog maw.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Kog'Maw</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKogmaw()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/lucian.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Lucian</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToLucian()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/miss fortune.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Miss Fortune</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMf()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/sivir.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Sivir</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSivir()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/tristana.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Tristana</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTristana()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/kindred.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Kindred</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKindred()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/ezreal.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Ezreal</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToEzreal()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/twitch.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Twitch</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTwitch()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/quinn.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Quinn</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToQuinn()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/jhin.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Jhin</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToJhin()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/graves.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Graves</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToGraves()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/kayle.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Kayle</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKayle()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/azir.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Azir</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAzir()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/mini gnar.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Mini Gnar</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMinignar()">Mais Informações</button>
        </div>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Controlador Encantadores</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/janna.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Janna</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToJanna()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/nami.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Nami</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToNami()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/sona.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Sona</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSona()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/soraka.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Soraka</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSoraka()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/lulu.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Lulu</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToLulu()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/bardo.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Bardo</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToBardo()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/zilean.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Zilean</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToZilean()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/karma.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Karma</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKarma()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/taric.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Taric</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTaric()">Mais Informações</button>
        </div>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Controlador Disruptores</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/anivia.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Anivia</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAnivia()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/zyra.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Zyra</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToZyra()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/heimerdinger.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Heimerdinger</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToHeimerdinger()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/oriana.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Oriana</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToOriana()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/morgana.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Morgana</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMorgana()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/teemo.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Teemo</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTeemo()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/taliyah.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Taliyah</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTaliyah()">Mais Informações</button>
        </div>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Tanque Vanguarda</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/malphite.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Malphite</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMalphite()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/amumu.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Amumu</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAmumu()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/leona.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Leona</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToLeona()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/zac.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Zac</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToZac()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/gragas.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Gragas</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToGragas()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/rammus.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Rammus</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToRammus()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/mega gnar.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Mega Gnar</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMegagnar()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/sejuani.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Sejuani</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSejuani()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/reksai.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Rek'Sai</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToReksai()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/sion.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Sion</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSion()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/nautilus.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Nautilus</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToNautilus()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/skarner.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Skarner</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSkarner()">Mais Informações</button>
        </div>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Tanque Protetores</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/braum.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Braum</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToBraum()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/nunu.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Nunu</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToNunu()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/tamh kench.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Tahm Kench</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTk()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/maokai.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Maokai</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToMaokai()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/shen.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Shen</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToShen()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/tresh.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Tresh</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToTresh()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/alistar.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Alistar</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAlistar()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/poppy.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Poppy</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToPoppy()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/galio.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Galio</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToGalio()">Mais Informações</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Únicos/Especialistas</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/chogath.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Cho'Gath</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToChogath()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/blitzcrank.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Blitzcrank</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToBlitzcrank()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/singed.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Singed</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToSinged()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/fiddlesticks.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Fiddlesticks</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToFiddlesticks()">Mais Informações</button>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/kennen.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Kennen</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToKennen()">Mais Informações</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/urgot.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Urgot</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToUdyr()">Mais Informações</button>
        </div>
    </div>
</div>