<h1><span class="badge bg-secondary">Nidalee</span></h1>

<div class="card">
    <img src="../../../assets/nidalle-runa-1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nidalee Runa 1</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/nidalee-runa-2.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nidalee Runa 2</h5>
    </div>
</div>


<div class="card">
    <img src="../../../assets/nidalee-build.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nidalee Build </h5>
    </div>
</div>


<div class="card">
    <img src="../../../assets/nidalee-skill.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nidalee Skill</h5>
    </div>
</div>