<h1><span class="badge bg-secondary">Kha'zix</span></h1>

<div class="card">
    <img src="../../../assets/khazix-runa-1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kha'zix Runa 1</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/khazix-runa-2.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kha'zix Runa 2</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/khazix-runa-3.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kha'zix Runa 3</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/khazix-runa-4.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kha'zix Runa 4</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/khazix-runa-5.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kha'zix Runa 5</h5>
    </div>
</div>


<div class="card">
    <img src="../../../assets/khazix-build.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kha'zix Build </h5>
    </div>
</div>


<div class="card">
    <img src="../../../assets/khazix-skill.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kha'zix Skill</h5>
    </div>
</div>