<div class="container">
    <div class="d-flex">
        <p-card header="Dota-2" subheader="Dota 2" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="../../../assets/templar_assassin__kararsz_adalet__by_cryhhd_de7v4ct.png">
            </ng-template>
            <ng-template pTemplate="footer">
                <p-button label="Entrar" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="d-flex">
        <p-card header="League Of Legends" subheader="Lol" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="../../../assets/yasuo_wallpaper_4k_by_northtekinson_deihfwo.png">
            </ng-template>
            <ng-template pTemplate="footer">
                <p-button label="Entrar" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>