<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/templar_assassin__kararsz_adalet__by_cryhhd_de7v4ct.png" class="card-img-top" alt="card1">
        <div class="card-body">
            <h5 class="card-title">Dota 2</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToDota()">Entrar</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/yasuo_wallpaper_4k_by_northtekinson_deihfwo.png" class="card-img-top" alt="card2">
        <div class="card-body">
            <h5 class="card-title">League Of Legends</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToLol()">Entrar</button>
        </div>
    </div>

</div>