<h1><span class="badge bg-secondary">Kassadin</span></h1>

<div class="card">
    <img src="../../../assets/kassadin-runa-1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kassadin Runa 1</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/kassadin-runa-2.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kassadin Runa 2</h5>
    </div>
</div>


<div class="card">
    <img src="../../../assets/kassadin-runa-3.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kassadin Runa 3</h5>
    </div>
</div>


<div class="card">
    <img src="../../../assets/kassadin-build.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kassadin Build</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/kassadin-skill-1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kassadin Skills 1</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/kassadin-skill-2.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kassadin Skills 2</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/kassadin-skill-3.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kassadin Skills 3</h5>
    </div>
</div>