<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Força</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/abbadon__lord_of_avernus____dota_2_by_cahyovon_d8rti02.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Abbadon</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/the_greed___7_deadly_sins_of_dota_2_by_ritchyzz_dce5tds.jpg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Alchemist</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/dota_2_wallpaper___axe_by_cryhhd_dctrin5.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Axe</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/beastmaster.png" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Beastmaster</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/dota-2-mangix-brewmaster.jpg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Brewmaster</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/1920x1080 bristleback dota 2 background.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Bristleback</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/centauro.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Centaur Warruner</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Chaos Knight Art - Dota 2 Art Gallery.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Chaos Knight</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Clockwerk Dota 2 4K Ultra HD Mobile Wallpaper.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Clockwerk</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Dawnbreaker DoTA2 Wall Art _ Gift Idea for Gamers _ Minimalist Poster.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Dawnbreaker</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Wei-zi-dota2-doom by wei-zi on DeviantArt.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Doom</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/DotA 2, Medusa by DariaDesign on DeviantArt.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Dragon Knight</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/earth spirit.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Earth Spirit</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/earthshaker.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Earthshaker</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/elder titan.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Elder Titan</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Huskar print by FuryOn1989 on DeviantArt.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Huskar</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/IO.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Io</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Dota2 Kunkka Fanart by Rosolino on DeviantArt.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Kunkka</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/legion commander.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Legion Commander</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/lifestealer.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Lifestealer</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/lycan.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Lycan</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Magnus, an art print by Magali Villeneuve.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Magnus</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/DOTA2-Mars, yue chen.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Marte</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/night stalker.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Night Stalker</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Omniknight by Nat10730 on DeviantArt.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Omniknight</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/phoenix.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Phoenix</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/pudge.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Pudge</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/sand king.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Sand King</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/slardar.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Slardar</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/snapfire.png" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Snapfire</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Spirit Breaker by chuaenghan on DeviantArt.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Spirit Breaker</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Sven #Dota2.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Sven</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Tidehunte Dota 2 4K Ultra HD Mobile Wallpaper.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Tidehunter</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/timbersaw.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Timbersaw</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/tiny dota 2.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Tiny</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Treant Protector Dota 2 4K Ultra HD Mobile Wallpaper.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Treant Protector</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/tusk.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Tusk</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/underlord.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Underlord</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/undying.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Undying</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/wk.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Wraith King</h5>
        </div>
    </div>
</div>


<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Agilidade</span>
    </div>
</nav>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Anti Mage - Dota 2 Fan Art by Razaras on DeviantArt.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Anti Mage</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Arc Warden by NovyIsPainting on DeviantArt.png" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Arc Warden</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/bloodseeker.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Bloodseeker</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Bounty Hunter by MattCowdery on DeviantArt.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Bounty Hunter</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Broodmother Build Guide DOTA 2_ The Broodmother-in-Law_ Post 6_79 (MZ).jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Broodmother</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Clinkz - Bone Fletcher by altehra.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Clinkz</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Drow Ranger, Yangjie Du.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Drow Ranger</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/ember spirit.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Ember Spirit</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Check out this awesome 'Faceless+Void+Madness' design on @TeePublic!.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Faceless Void</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/gyrocopter.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Gyrocopter</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/hoodwink.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Hoodwink</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Juggernaut - Bladeform Legacy, Lana Šator.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Juggernaut</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Lone Druid.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Lone Druid</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Luna Dota2 - Fanart, Kittichai Rueangchaichan (Razaras).png" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Luna</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/DotA 2, Medusa by DariaDesign on DeviantArt.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Medusa</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/meepo, dota 2, art Wallpaper, HD Games 4K Wallpapers, Images, Photos and Background - Wallpapers Den.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Meepo</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Mirana Portrait Fanart (Dota 2) by TianLeiDraws on DeviantArt.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Mirana</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Wukong.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Monkey King</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/morphling.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Morphling</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/naga siren.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Naga Siren</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/nyx.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Nyx Assassin</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Dota 2 Phantom Assassin by d-k0d3 on DeviantArt.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Phantom Assassin</h5>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/phantom lancer.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Phatnom Lancer</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/razor.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Razor</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Dota 2 TI8 Immortal 1 - Riki.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Riki</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Shadow Fiend illustration, Dota 2 by TGnow on DeviantArt.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Shadow Fiend</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Slark by FuryOn1989 on DeviantArt.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Slark</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/sniper.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Sniper</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Spectre - Soulhunter, Dota 2 by TGnow on DeviantArt.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Spectre</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/templar_assassin__kararsz_adalet__by_cryhhd_de7v4ct.png" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Templar Assassin</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/terrorblade.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Terrorblade</h5>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/troll warlord.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Troll Warlord</h5>
        </div>
    </div>

</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/ursa.jpg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Ursa</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Dota 2 - Vengeful Spirit, Andrea Orioli.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Vengeful Spirit</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/venom.jpg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Venomancer</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/viper.jpeg" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Viper</h5>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/weaver.jpeg" class="card-img-top" alt="card4">
        <div class="card-body">
            <h5 class="card-title">Weaver</h5>
        </div>
    </div>
</div>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Inteligência</span>
    </div>
</nav>