<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Força</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/abbadon__lord_of_avernus____dota_2_by_cahyovon_d8rti02.png" class="card-img-top" alt="card3">
        <div class="card-body">
            <h5 class="card-title">Abbadon</h5>
            <button type="button" class="btn btn-primary" (click)="navigateToAbbadon()">Mais Informações</button>
        </div>
    </div>

    <div class=" card " style="width: 18rem; ">
        <img src="../../../assets/the_greed___7_deadly_sins_of_dota_2_by_ritchyzz_dce5tds.jpg " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Alchemist</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/dota_2_wallpaper___axe_by_cryhhd_dctrin5.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Axe</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/beastmaster.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Beastmaster</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/dota-2-mangix-brewmaster.jpg " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Brewmaster</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/1920x1080 bristleback dota 2 background.jpeg " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Bristleback</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/centauro.jpeg " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Centaur Warruner</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Ck.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Chaos Knight</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Clockwork.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Clockwerk</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Dawnbreaker.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Dawnbreaker</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Doom.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Doom</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/DK.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Dragon Knight</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Earth Spirit.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Earth Spirit</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Earth Shaker.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Earthshaker</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Elder TItan.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Elder Titan</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Huskar.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Huskar</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Io.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Io</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Kunkka.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Kunkka</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Lehgion Commander.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Legion Commander</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/LifeStealer.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Lifestealer</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Lycan.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Lycan</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Magnus.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Magnus</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Marte.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Marte</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Night Stalker.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Night Stalker</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Omniknight.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Omniknight</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Phoenix.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Phoenix</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Pudge.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Pudge</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Sand King.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Sand King</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Slardar.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Slardar</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/snapfire.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Snapfire</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Spirit Breaker.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Spirit Breaker</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Sven.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Sven</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Tidehunter.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Tidehunter</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Timbersaw.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Timbersaw</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/tiny dota 2.jpeg " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Tiny</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Treant Protector.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Treant Protector</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Tusk.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Tusk</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Underlord.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Underlord</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Undying.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Undying</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/wk.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Wraith King</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid ">
        <span class="navbar-brand mb-0 h1 ">Agilidade</span>
    </div>
</nav>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Anti Mage.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Anti Mage</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Arc Warden.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Arc Warden</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Bloodseeker.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Bloodseeker</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Bounty Hunter.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Bounty Hunter</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Broodmother.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Broodmother</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Clinkz.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Clinkz</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Drow Ranger.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Drow Ranger</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Ember Spirit.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Ember Spirit</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Faceless Void.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Faceless Void</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Gyrocopter.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Gyrocopter</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Hoodwink.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Hoodwink</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Juggernaut.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Juggernaut</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Lone Druid.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Lone Druid</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Luna.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Luna</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Medusa.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Medusa</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Meepo.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Meepo</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Mirana.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Mirana</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Monkey King.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Monkey King</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Morphling.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Morphling</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Naga Siren.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Naga Siren</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Nyx Assassin.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Nyx Assassin</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Phantom Assassin.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Phantom Assassin</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Phantom Lancer.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Phatnom Lancer</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Razor.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Razor</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Riki.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Riki</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Shadow Fiend.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Shadow Fiend</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Slark.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Slark</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Sniper.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Sniper</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Spectre.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Spectre</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Templar Assassin.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Templar Assassin</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Terrorblade.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Terrorblade</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Troll Warlord.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Troll Warlord</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>

</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Ursa.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Ursa</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Vengeful Spirit.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Vengeful Spirit</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Venomancer.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Venomancer</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Viper.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Viper</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Weaver.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Weaver</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid ">
        <span class="navbar-brand mb-0 h1 ">Inteligência</span>
    </div>
</nav>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/AA.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Ancient Apparition</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Bane.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Bane</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Batrider.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Batrider</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Chen.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Chen</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Cristal Mayden.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Cristal Mayden</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Dark Seer.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Dark Seer</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Dark Willow.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Dark Willow</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Dazzle.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Dazzle</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Death Prophet.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Death Prophet</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Disruptor.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Disruptor</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Enchatrees.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Enchantrees</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Enigma.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Enigma</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Invoker.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Invoker</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Jakiro.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Jakiro</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Keeper.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Keeper of the Light</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Leshrac.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Leshrac</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Lich.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Lich</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Lina.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Lina</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Lion.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Lion</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Nature.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Nature Prophet</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Necrophos.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Necrophos</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Ogre Magi.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Ogre Magi</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Oracle.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Oracle</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Outworld Devourer.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Outworld Devourer</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Puck.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Puck</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Pugna.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Pugna</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/qop.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Queen Of Pain</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Rubick.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Rubick</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Shadow Demon.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Shadow Demon</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Shadow Shaman.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Shadow Shaman</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Silence.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Silencer</h5>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Skywrathmage.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Skywrathmage</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Storm Spirit.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Storm Spirit</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Techi.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Techies</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Tink.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Tinker</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Visag.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Visage</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/VoidSpi.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Void Spirit</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/WarLCK.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Warlock</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/WindR.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Windranger</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/WinterWy.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Winter Wyvern</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-around mt-5 ">
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/WIchDoc.png " class="card-img-top " alt="card4 ">
        <div class="card-body ">
            <h5 class="card-title ">Wich Doctor</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
    <div class="card " style="width: 18rem; ">
        <img src="../../../assets/Zes.png " class="card-img-top " alt="card3 ">
        <div class="card-body ">
            <h5 class="card-title ">Zeus</h5>
            <button type="button " class="btn btn-primary ">Mais Informações</button>
        </div>
    </div>
</div>