<h1><span class="badge bg-secondary">Leblanc</span></h1>

<div class="card">
    <img src="../../../assets/leblanc-runa-1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Leblanc Runa 1</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/leblanc-runa-2.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Leblanc Runa 2</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/leblanc-runa-3.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Leblanc Runa 3</h5>
    </div>
</div>

<div class="card">
    <img src="../../../assets/leblanc-build.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Leblanc Build </h5>
    </div>
</div>


<div class="card">
    <img src="../../../assets/leblanc-skill.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Leblanc Skill</h5>
    </div>
</div>